<div id="my-drawer" class="bmd-layout-drawer">
    <header>
      <img src="img/user.jpg" class="avatar">
      <div class="account">
        <span>hello@example.com</span>
        <div class="dropdown">
          <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="nav-account-menu" data-toggle="dropdown" aria-haspopup="true">
            <i class="material-icons">arrow_drop_down</i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-account-menu">
            <a class="dropdown-item">hello@example.com</a>
            <a class="dropdown-item">info@example.com</a>
            <a class="dropdown-item"><i class="material-icons">add</i>Add account...</a>
          </div>
        </div>
      </div>
    </header>
    <ul class="list-group">
      <a class="list-group-item">
        <i class="material-icons" role="presentation">home</i>Home
      </a>
      <a class="list-group-item">
        <i class="material-icons" role="presentation">inbox</i>Inbox
      </a>
      <a class="list-group-item">
        <i class="material-icons" role="presentation">delete</i>Trash
      </a>
      <a class="list-group-item">
        <i class="material-icons" role="presentation">report</i>Spam
      </a>
      <a class="list-group-item">
        <i class="material-icons" role="presentation">forum</i>Forums
      </a>
      <a class="list-group-item">
        <i class="material-icons" role="presentation">flag</i>Updates
      </a>
      <a class="list-group-item">
        <i class="material-icons" role="presentation">local_offer</i>Promos
      </a>
      <a class="list-group-item">
        <i class="material-icons" role="presentation">shopping_cart</i>Purchases
      </a>
      <a class="list-group-item">
        <i class="material-icons" role="presentation">people</i>Social
      </a>

      <li class="bmd-layout-spacer"></li>
      <a class="list-group-item">
        <i class="material-icons" role="presentation">help_outline</i><span class="sr-only">Help</span>
      </a>
    </ul>
  </div>