<div class="alert alert-info" role="alert">
        This is an implementation of
        <a href="http://www.getmdl.io/templates/dashboard/index.html">Material Design Lite's dashboard template</a>. It provides a simple way to compare approaches with source code. Original design and assets credited to the MDL team.
        <small>(see license)</small>
        . Additional functionality showing drawer placement is an BMD only feature. See the icons in the navbar.
      </div>

      <!-- round charts -->
      <div class="card card-block">
        <div class="row">
          <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell col-xs-12 col-sm-6 col-md-3">
            <use xlink:href="#piechart" mask="url(#piemask)"/>
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82
              <tspan font-size="0.2" dy="-0.07">%</tspan>
            </text>
          </svg>
          <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell col-xs-12 col-sm-6 col-md-3">
            <use xlink:href="#piechart" mask="url(#piemask)"/>
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82
              <tspan dy="-0.07" font-size="0.2">%</tspan>
            </text>
          </svg>
          <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell col-xs-12 col-sm-6 col-md-3">
            <use xlink:href="#piechart" mask="url(#piemask)"/>
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82
              <tspan dy="-0.07" font-size="0.2">%</tspan>
            </text>
          </svg>
          <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="demo-chart mdl-cell col-xs-12 col-sm-6 col-md-3">
            <use xlink:href="#piechart" mask="url(#piemask)"/>
            <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82
              <tspan dy="-0.07" font-size="0.2">%</tspan>
            </text>
          </svg>
        </div>
      </div>


      <div class="row">
        <div class="col-md-8">
          <!-- line charts-->
          <div class="card card-block">
            <div class="demo-graphs">
              <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
                <use xlink:href="#chart"/>
              </svg>
              <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
                <use xlink:href="#chart"/>
              </svg>
            </div>
          </div>
        </div>

        <div class="col-md-4 demo-cards">

          <!-- Updates card using header bg image -->
          <div class="demo-updates card">
            <div class="card-header">
              <h2 class="card-title">Updates</h2>
            </div>

            <div class="card-block">
              <p class="card-text">Non dolore elit adipisicing ea reprehenderit consectetur culpa.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn">Read More</a>
            </div>
          </div>


          <div class="demo-options card">
            <div class="card-block">
              <p class="card-title">View options</p>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="chkbox1">
                  Click per object
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="chkbox2">
                  Views per object
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="chkbox3">
                  Objects selected
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="chkbox4">
                  Objects viewed
                </label>
              </div>
            </div>
            <div class="card-footer">
              <a href="#" class="btn">Change location</a>
              <i class="material-icons">location_on</i>
            </div>
          </div>
        </div>
      </div>